
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h2>Track Calls Received</h2>
        <p>
            Identify how many calls you receive to a number. This gives you the high level understanding of how successful your advertising
            campaign has been.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Call Duration</h2>
        <p>
            Find out how long each sales call is taking. This information can be invaluable to understanding factors such as being understaffed,
            having an inefficent sales process. This feature really comes into it's own when correlated with other data.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Identify Missed Calls</h2>
        <p>
            Understanding how many calls you receive from your advertising is great but seeing the number of unanswered calls will give you a clear perspective
            on areas where you're missing out on potential sales. Are you missing calls because you are short staffed or because you are spending too much
            time on calls? You'll find out with this data at your fingertips.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Call Times &Aacute; Peak Loads</h2>
        <p>Have complete visiblity on how many calls you receive throughout the day and see when your peak times are then structure your day to ensure your 
        available to take calls or hire staff during these peak times to ensure that not a single call is lost.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Call locations</h2>
        <p>
            See where your calls are coming from
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Identify Missed Calls</h2>
        <p>
            Understanding how many calls you receive from your advertising is great but seeing the number of unanswered calls will give you a clear perspective
            on areas where you're missing out on potential sales. Are you missing calls because you are short staffed or because you are spending too much
            time on calls? You'll find out with this data at your fingertips.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>