
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <h2>Thank you for signing up!</h2>
        <p>
            Thank you for your interest in Caller Insights. Our product is nearing completion and will be released very soon. 
            We'll send you an email as soon as it is available.</p> <p>
    As a thank you for registering your interest we're going to give you FREE setup on all numbers you activate in your first month.
</p></div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>