@model CallTracking.Web.Models.ContactViewModel
    
@{
    ViewBag.Title = "Thank you for your enquiry.";
}
<h2 >Thank you for your enquiry</h2>
<div class="row">
    <div class="col-md-6">
        <p>
            Thank you for your interest in Caller Insights, we'll respond to your enquiry as soon as possible.
        </p>
    </div>
</div>