
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>We Have Rest Your Password?</h2>

<p>We have sent an email to the address you specified in the forgotten password form. Please check your email as this will contain a new password which you can use
    to log in with. Once logged in we recommend you update your password to something more memorable via the change password page on your account.</p>
